= simple_form_for [:admin, @post] do |f|
  = f.input :title
  = f.input :content

  .form-actions
    = f.button :submit, class: 'btn-primary'
    = link_to t('cancel'), { action: :index }, class: 'btn'
